@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth;
}
:root{
    --text-color: #fff;
    color-scheme: dark;
    --font-sora: 'sora', sans-serif;
    --font-code: 'Source Code Pro', monospace;
    --font-grotesk: 'Space Grotesk', sans-serif;
}
body{
    @apply bg-n-8/90 max-w-full overflow-x-hidden
}

nav a{
    @apply block relative font-code text-2xl uppercase text-n-1 transition-colors hover:text-color-1 p-6 md:py-8 lg:-mr-0.25 lg:text-xs lg:font-semibold
}

@media (max-width: 520px ){
    Button {
        max-width: 10vw;
        height: 5vh;
    }
}
ul li img {
    @apply w-6 h-6 border-2 border-n-11 rounded-full
}

.companyLogo ul li img {
    @apply w-[50%] h-auto border-none
}

.Collabs div{
    @apply relative -top-[1.6rem] flex w-[3.2rem] h-[3.2rem]  bg-n-7 border border-n-1/15 rounded-xl
}
.Collabs img{
    @apply w-auto h-[80%] rounded-none m-auto
}
.body-2 li{
    @apply flex items-center py-4 border-t border-n-6 gap-2
}

.middleVideoIcon div{
    @apply flex justify-center items-center w-full h-full bg-n-7 rounded-[1rem] 
}
.pricingLi p{
    @apply body-2 ml-4
}











@layer base{
    body{
        @apply font-sans bg-neutral-800 text-neutral-100 text-base
    }
}

@layer components{
    
    .radial-gradiend{
        background: radial-gradient(var(--tw-gradient-stops));
    }
    .conic-gradient{
        background: conic-gradient( from 225deg, #ffb869, #79FFF7, #9F53FF, #FF98E2);
    }
    .font-code{
        font-family: var(--font-code);
    }
    .font-grotesk{
        font-family: var(--font-grotesk);
    }
    .container {
        @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 lg:mx-10
    }
    .h1 {
        @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem]
    }
    .h2 {
        @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[3rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight
    }
    .h3 {
        @apply text-[2rem] leading-normal md:text-[2.5rem]
    }
    .h4 {
        @apply text-[2rem] leading-normal
    }
    .h5 {
        @apply text-2xl leading-normal
    }
    .h6 {
        @apply font-semibold text-lg leading-8
    }
    .onlyMobile{
        @apply lg:hidden
    }
    .button {
        @apply text-xs font-code font-bold uppercase tracking-wider
    }
    .quote {
        @apply text-lg leading-normal font-code
    }
    .tagline {
        @apply font-light font-grotesk text-xs tracking-tagline uppercase
    }
    .body-1 {
        @apply font-light text-[0.875rem] leading-6 md:text-[1rem] md:leading-4 lg:text-[1.25rem] lg:leading-8
    }
    .body-2 {
        @apply font-light text-[0.875rem] leading-6 md:text-base
    }
    .caption {
        @apply text-sm
    }
    
    .benefit-card{
        @apply block relative p-0.5 bg-no-repeat bg-[length:100%_100%] md:max-w-[24rem]
    }
    .innerBenefitCard{
        @apply relative z-2 flex flex-col min-h-[22rem] p-[2.4rem] pointer-events-none
    }
    .moreIcon{
        @apply ml-auto font-code text-xs font-bold text-n-1 uppercase tracking-wider
    }
    
    .Collabs{
        @apply absolute top-0 left-1/2 h-1/2 -ml-[1.6rem] origin-bottom origin-bottom
    }
    .pricingCard{
        @apply w-[19rem] max-lg:w-full h-full px-6 bg-n-8 border border-n-6 rounded-[2rem] lg:w-auto even:py-14 even:-mt-4 odd:py-8 [&>h4]:first:text-color-2 [&>h4]:even:text-color-1 [&>h4]:odd:text-color-3
    }
    .middleVideoIcon {
        @apply rounded-2xl flex items-center justify-center w-[3rem] h-[3rem] p-0.25 md:w-[4.5rem] md:h-[4.5rem]
    }

    .videoIcons {
        @apply  rounded-2xl flex items-center justify-center w-10 h-10 bg-n-6 md:w-15 md:h-15
    }
    .pricingLi{
        @apply flex items-start py-5 border-t border-n-6
    }


}


@layer utilities{
    .tap-highlight-color {
        -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
    }
}