@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
:root {
  --text-color: #fff;
  color-scheme: dark;
  --font-sora: "sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}
body {
  @apply bg-n-8/90 max-w-full overflow-x-hidden;
}

nav a {
  @apply block relative font-code text-2xl uppercase text-n-1 transition-colors hover:text-color-1 px-2 py-4 lg:-mr-0.25 lg:text-xs lg:font-semibold;
}

@media (max-width: 520px) {
  Button {
    max-width: 10vw;
    height: 5vh;
  }
}
.body-2 li {
  @apply flex items-center py-4 border-t border-n-6 gap-2;
}

.middleVideoIcon div {
  @apply flex justify-center items-center w-full h-full bg-n-7 rounded-[1rem];
}
.pricingLi p {
  @apply body-2 ml-4;
}

.onlyMobile {
  @apply lg:hidden flex;
}

@layer base {
  body {
    @apply font-sans bg-neutral-800 text-neutral-100 text-base;
  }
}

@layer components {
  .backgroundImage {
    background: radial-gradient(conic-gradient(var(--tw-gradient-stops)));
  }
  .conic-gradient {
    background: radial-gradient(#ffc876, #79fff7, #9f53ff, #ff98e2, #ffc876);
  }
  .benefit-card {
    @apply block relative p-0.5 bg-no-repeat bg-[length:100%_100%] md:max-w-[24rem];
  }
  .innerBenefitCard {
    @apply relative z-2 flex flex-col min-h-[22rem] p-[2.4rem] pointer-events-none;
  }
  .moreIcon {
    @apply ml-auto font-code text-xs font-bold text-n-1 uppercase tracking-wider;
  }

  .Collabs {
    @apply absolute top-0 left-1/2 h-1/2 -ml-[1.6rem] origin-bottom origin-bottom;
  }
  .pricingCard {
    @apply w-[19rem] max-lg:w-full h-full px-6 bg-n-8 border border-n-6 rounded-[2rem] lg:w-auto even:py-14 even:-mt-4 odd:py-8 [&>h4]:first:text-color-2 [&>h4]:even:text-color-1 [&>h4]:odd:text-color-3;
  }
  .middleVideoIcon {
    @apply rounded-2xl flex items-center justify-center w-[3rem] h-[3rem] p-0.25 md:w-[4.5rem] md:h-[4.5rem];
  }

  .videoIcons {
    @apply rounded-2xl flex items-center justify-center w-10 h-10 bg-n-6 md:w-15 md:h-15;
  }
  .pricingLi {
    @apply flex items-start py-5 border-t border-n-6;
  }
}

@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
  }
}
